[user]
	name = Marcus Billman
	email = 54668482+marcusbillman@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFQRRIi3REytmMDly+X4nP+SoEU2vzItblM5Zn238fIT
[includeIf "gitdir:~/Code/school/"]
	path = ~/.gitconfig.school
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
